.main {
  min-height: 1200px;
}
.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}
.titlePage{
  font-size: calc(0.7em + 1vw);
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
.titleDiseases {
  text-align: center;
  font-size: calc(0.7em + 1.5vw);
}
.subtitle{
  font-size: calc(0.7em + 1vw);
  margin: 20px 0 10px;
}
.containerDisease {
  width: 100%;
  padding: 30px 10px;
}

.disease {
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: calc(0.8em + 1vw);
  background: none;
  color: steelblue;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.arrowOpen {
  transform: rotate(90deg);
}

.arrowClosed {
  transform: rotate(0deg);
}

.contentClosed {
  max-height: 0px;
  overflow: hidden;
  transition: 0.3s;
  padding: 0 10px;
}

.contentOpen {
  max-height: 200px; /* ajusta conforme necessário */
  padding: 10px;
}
.paragraph {
  font-size: calc(0.8em + 0.5vw);
  margin-bottom: 10px;
}
.highlight {
  font-weight: bold;
}
.image {
  width: 50%;
  height: auto;
  margin-top: 10px;
}
