.main {
  min-height: 540px;
}
:root{
  --colorBlue: skyblue;
}
.container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 20px;
}
.titlePage {
  font-size: calc(0.9em + 1vw);
  font-weight: bold;
  padding: 20px 0 10px 0;
  text-align: center;
}
.subtitle {
  font-size: calc(0.7em + 1vw);
  margin: 20px 0 10px;
  display: flex;
  align-items: center;
}
.subtitleh4{
  font-size: calc(0.50em + 1vw);
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.circle{
  width: 10px;
  height: 10px;
  background-color: aqua;
  border-radius: 50%;
  margin-right: 5px;
}
.containerDisease {
  width: 100%;
}

.disease {
  border: none;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: calc(0.7em + 1vw);
  background: none;
  color: steelblue;
  margin-bottom: 20px;
}

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
}

.arrowOpen {
  transform: rotate(90deg);
}

.arrowClosed {
  transform: rotate(0deg);
}

.contentClosed {
  max-height: 0;
  overflow: hidden;
  transition: 0s;
  padding: 0 10px;
}

.contentOpen {
  max-height: 100%; /* ajusta conforme necessário */
  padding: 10px;
}
.th, .td, .paragraph{
  font-size: calc(0.8em + 0.5vw);
}
.paragraph {
  margin-bottom: 10px;
}
.highlight {
  font-weight: bold;
  color: var(--colorBlue);
}
.image {
  width: 50%;
  height: auto;
  margin-top: 10px;
}

.table{
  width: 100%;
  border-collapse: collapse; 
  margin: 20px 0;
}
.th, .td{
  border: 1px solid var(--colorBlue);
  padding: 5px 0;
  text-align: center;
}
.th{
  color: var(--colorBlue);
}