.containerIntrodunction {
    width: 100%;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.containerTitle, .containerIntrodunction {
    display: flex;
    align-items: center;
}
.title {
    font-size: 2em;
    font-weight: bold;
}
.description {
    font-size: 1.1em;
}
/* RESPONSIVIDADE 32px */
@media  (min-width: 320px) and (max-width: 320px) {
    .containerIntrodunction {
        padding-top: 20px;
        gap: 5px;
    }
    .title {
        font-size: 1em;
    }
    .description {
        font-size: 0.870em;
        text-align: center;
    }
}